<!DOCTYPE html>
<html lang="pt-br">
<title>Urls</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<body class="w3-container w3-center">

<h1> URLs API-REST  <h1>
<h2>Compras:</h2>
<a href="/estoque/visualizar/pedidosDeCompras"> Pedidos de Compras </a>


<h2>Estoque:</h2>
<a href="/estoque/visualizar/pedidosPendentes"> Estoque Pedidos Pendentes </a>


<h2>Estoque:</h2>
<a href="/estoque/visualizar/pedidosImpressos"> Estoque Pedidos Impressos </a>

<h2>Estoque:</h2>
<a href="/estoque/visualizar/pedidosFinalizados">Estoque Pedidos Finalizados</a>

<h2>Usuarios:</h2>
<a href="/usuario/visualizar/pedidosPendentes">Usuario Pedidos Pendentes</a>

<h2>Usuario:</h2>
<a href="/usuario/visualizar/pedidosFinalizados">Usuario Pedidos Finalizados</a>

<h2>Usuario:</h2>
<a href="/usuario/cadastrar">Usuario Cadastro</a>


</body>
</html> 
